src/com.gluster.storage.management.client/bin
src/com.gluster.storage.management.core/bin
src/com.gluster.storage.management.gui/bin
src/com.gluster.storage.management.server/WebContent/WEB-INF/classes
